* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Verdana, sans-serif;
}
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  flex-grow: 1;
  padding-bottom: 1.5vh;
}
.container {
  padding: 20px 5%;
}
.heading-text {
  margin-bottom: 2rem;
  font-size: 5vh;
  text-align: center;
  color: white;
}

.image-gallery-stanga,
.image-gallery-dreapta {
  /* Mobile first */
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 49%;
  float:left;
}
.image-gallery-stanga .column,
.image-gallery-dreapta .column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.image-item img {
  width: 100%;
  border-radius: 5px;
  height: 100%;
  object-fit: cover;
}
.image-gallery-stanga{
  margin-right: 5px;
}
.image-gallery-dreapta{
  margin-left: 5px;
}

.image-item {
  position: relative;
  cursor: pointer;
  display: block;
}

.image-item:hover > .overlayshow{
  opacity: 1;
}

footer {
  position: relative;
  z-index: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 99vw;
  padding-top: 8vh;
  padding-bottom: 8vh;
  color: #fff;
  padding-bottom: 20px;
}

.footer-content  {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Setari diferite pentru ecrane mari*/
@media only screen and (min-width: 1200px) {
  .image-gallery-stanga,
  .image-gallery-dreapta {
    flex-direction: row;
  }
  .columnfooter-dreapta{
    padding-left: 22vw;
  }
}
@media only screen and (max-width: 650px) {
  .columnfooter-stanga,
  .columnfooter-dreapta{
    width:100%;
  }
  .columnfooter-dreapta{
    padding-left: 40px;
  }
}
@media only screen and (max-width: 575px) {
  .image-gallery-stanga,
  .image-gallery-dreapta {
    width: 100%;
  }
}
@media only screen and (min-width: 800px) {
  .columnfooter-stanga{
    padding-left: 5vw;
  }
  
}

#myImg {
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Sit on top */
  padding-top: 10vh;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 90%;
  max-height: 90%;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

a.buttonback {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Segoe UI", Verdana, sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.buttonback:hover {
  background-color: #374151;
}

.buttonback:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .buttonback {
    padding: .75rem 1.5rem;
  }
}