* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Verdana, sans-serif;
}
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  flex-grow: 1;
}
.container {
  padding: 20px 5%;
}
.heading-text {
  margin-bottom: 1rem;
  font-size: 5vh;
  text-align: center;
  color: white;
}
.heading-text span {
  font-weight: 100;
}
.image-gallery-stanga,
.image-gallery-dreapta {
  /* Mobile first */
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 49%;
  float:left;
}
.image-gallery-stanga .column,
.image-gallery-dreapta .column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.image-item img {
  width: 100%;
  border-radius: 15px;
  height: 100%;
  object-fit: cover;
}
.image-gallery-stanga{
  margin-right: 5px;
}
.image-gallery-dreapta{
  margin-left: 5px;
}


/* overlay styles */

.image-item {
  position: relative;
  cursor: pointer;
  display: block;
}

.overlaycategorie {
  position: absolute;
  width: 100%;
  height: 99%;
  top: 0;
  left: 0;
  padding: 100px;
  color: #fff;
  font-size: 160%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition-duration: 0.2s;
  font-size: 2.75vh;
}
.overlayshow{
  position: absolute;
  width: 100%;
  height: 99%;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 160%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  opacity: 0;
  transition: 0.4s;
  font-size: 2.75vh;
}

.overlaycategorie:hover{
  padding-top: 20px;
  transition-duration: 0.2s;
}
.image-item:hover > .overlayshow{
  opacity: 1;
}

footer {
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  padding-top: 15px;
  color: #fff;
  padding-bottom: 20px;
  margin-top: 20px;
}

.footer-content h2 {
  max-width: 500px;
  margin-bottom: 20px;
  line-height: 28px;
  font-size: 25px;
  color: #cacdd2;
}

.footer-content p {
  max-width: 500px;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}

/* Create three equal columns that floats next to each other */
.columnfooter-stanga {
  float: left;
  width: 50%;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
}
.columnfooter-dreapta{
  float: left;
  width: 50%;
  
  padding-right: 40px;
  padding-top: 10px;
}

/* Clear floats after the columns */
.rowfooter:after {
  content: "";
  display: table;
  clear: both;
}

/* unvisited link */
.socialmedia:link {
  color: teal;
}

/* visited link */
.socialmedia:visited {
  color: teal;
}

/* mouse over link */
.socialmedia:hover {
  color: white;
}

/* selected link */
.socialmedia:active {
  color: white;
}

/* Setari diferite pentru ecrane mari*/
@media only screen and (min-width: 1200px) {
  .image-gallery-stanga,
  .image-gallery-dreapta {
    flex-direction: row;
  }
  .columnfooter-dreapta{
    padding-left: 22vw;
  }
}
@media only screen and (max-width: 650px) {
  .columnfooter-stanga,
  .columnfooter-dreapta{
    width:100%;
  }
  .columnfooter-dreapta{
    padding-left: 40px;
  }
}
@media only screen and (max-width: 575px) {
  .image-gallery-stanga,
  .image-gallery-dreapta {
    width: 100%;
  }
}
@media only screen and (min-width: 800px) {
  .columnfooter-stanga{
    padding-left: 5vw;
  }
  
}

#cat {
  width: 60px;
  height: 60px;
  background-image: url(https://25.media.tumblr.com/11c0e3102a51c848f61976df8280827c/tumblr_mib819Yg8s1s5jjtzo1_500.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 30px;
  right: 30px;
  z-index: 9999;
}